<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>셀러툴 Test Ver.</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <style type="text/css">
        @import url("/css/style.css");
    </style>
    <script src="https://kit.fontawesome.com/737c90f2f1.js" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5V3J2X4SMX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-5V3J2X4SMX');
    </script>
    <script data-ad-client="ca-pub-2340864651976007" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>